
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/content/MeuCss.css" rel="stylesheet" type="text/css">
<div class="row">
    <h2>Pessoa </h2>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption" col-md-12>
                    <i class="fa fa-cogs"></i> Lista de Pessoas 
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-default btn-sm" id="botao-add-pessoa">
                        <i class="fa fa-plus"></i> Add
                    </a>
                </div>
            </div>
            <div class="portlet-body col-md-12">

                <div class="table-scrollable">
                    <table id="gridPessoa" class="table table-hover">
                        <thead class="">
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-8">Id</th>
                                <th class="col-md-12 col-md-offset-8">Nome</th>
                                <th class="col-md-12 col-md-offset-8">Função</th>
                                <th class="col-md-12 col-md-offset-8">Tipo</th>
                                <th class="col-md-10 col-md-offset-12">
                                    <a></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var pessoa in ViewBag.pessoa)
                            {
                                <tr data-id="@pessoa.ID" data-nome="@pessoa.Nome" data-cpf="@pessoa.Cpf" data-cnpj="@pessoa.Cnpj" data-tipo="@pessoa.ETipo" data-prof="@pessoa.Profissao"
                                    data-nacionalidade="@pessoa.Nacionalidade" data-im="@pessoa.InscricaoMunicipal" data-ie="@pessoa.InscricaoEstadual" data-rg="@pessoa.Rg"
                                    data-email="@pessoa.EmailPrincipal" data-obs="@pessoa.Observacao" data-endereco="@pessoa.EnderecoID"
                                    data-tel="@pessoa.Telefone" data-cell="@pessoa.Celular" data-ec="@pessoa.EEstadoCivil" data-web="@pessoa.WebSite" data-pessoaTipo="@pessoa.TipoPessoa">
                                    <td class="pessoa@(pessoa.ID)">
                                        <a href="@Url.Action("Remover","PessoaFisica", new { id = pessoa.ID })" class="botao-remove-PF"><i class="fa fa-minus-circle font-red"></i></a>
                                    </td>
                                    <td class="pessoaF@pessoa.ID)">@pessoa.ID</td>
                                    <td class="pessoaF@(pessoa.ID)">@pessoa.Nome</td>
                                    <td class="pessoaF@(pessoa.ID)">@pessoa.ETipo</td>
                                    <td class="pessoaF@(pessoa.ID)">@pessoa.TipoPessoa</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    @*<div class="col-md-4 offset-md-8" id="forms-updates-PJ">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Pessoa Juridica
                </div>
            </div>
            <div class="portlet-body form">

                <form id="form-cadastro-PJ" action="/PessoaFisica/Adiciona" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <input class="id-secreto-PJ" style="display:none;" name="pessoa.ID">
                            <label class="control-label">Tipo</label>
                            <select name="pessoa.ETipo" class="pessoa-alterar">
                                @foreach (var tipo in ViewBag.pessoatipo)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br>
                            <label class="control-label">Nome</label>
                            <input type="text" name="pessoa.Nome" class="form-control nome-alterar-PJ" placeholder="Nome Da Empresax">
                            <label class="control-label">CNPJ</label>
                            <input type="text" name="pessoa.Cnpj" class="form-control cnpj-alterar-PJ" placeholder="CNPJ">
                            <label class="control-label">Função</label>
                            <select name="pessoa.ETipo" class="etipo-alterar-PJ">
                                @foreach (var tipo in ViewBag.tipoPessoa)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br>
                            <label class="control-label">Inscrição Municipal</label>
                            <input type="text" name="pessoa.InscricaoMunicipal" class="form-control im-alterar-PJ" placeholder="Numero Da Inscrição">
                            <label class="control-label">Inscrição Estadual</label>
                            <input type="text" name="pessoa.InscricaoEstadual" class="form-control ie-alterar-PJ" placeholder="Numero Da Inscrição">
                            <label class="control-label">Email</label>
                            <input type="text" name="pessoa.EmailPrincipal" class="form-control email-alterar-PJ" placeholder="exemplo@exwmplo.com">
                            <label class="control-label">Web Site</label>
                            <input type="text" name="pessoa.WebSite" class="form-control web-alterar-PJ" placeholder="Web Site da empresa">
                            <label class="control-label">Observações</label>
                            <input type="text" name="pessoa.Observacao" class="form-control obs-alterar-PJ" placeholder="Algumas Observações sobre a empresa">
                            <label class="control-label">Endereço</label>
                            <select name="pessoa.EnderecoID" class="endereco-alterar-PJ">
                                @foreach (var endereco in ViewBag.enderecos)
                                {
                                    <option value="@endereco.ID">
                                        @endereco.Rua
                                    </option>
                                }
                            </select><br>
                            <label class="control-label">Telefone</label>
                            <input type="text" name="pessoa.Telefone" class="form-control tel-alterar-PJ" placeholder="ddd-0000-0000">
                            <label class="control-label">Celular</label>
                            <input type="text" name="pessoa.Celular" class="form-control cell-alterar-PJ" placeholder="ddd-000-000-000">
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>*@

    <div class="col-md-4 offset-md-8" id="forms-updates-PF">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Pessoa 
                </div>
            </div>
            <div class="portlet-body form">

                <form id="form-cadastro-Pessoa" action="/PessoaFisica/Adiciona" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <input class="id-secreto" style="display:none;" name="pessoa.ID">
                            <label class="control-label">Tipo</label>
                            <select name="pessoa.TipoPessoa" class="pessoa-alterar">
                                @foreach (var tipo in ViewBag.pessoatipo)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br>
                            <label class="control-label">Nome</label>
                            <input type="text" name="pessoa.Nome" class="form-control nome-alterar" placeholder="Nome Da Pessoa">
                            <label class="control-label pessoaFisica" style="display:block;">CPF</label>
                            <input type="text" name="pessoa.Cpf" style="display:block;" class="form-control cpf-alterar pessoaFisica" placeholder="CPF">
                            <label class="control-label pessoaJuridica" style="display:none;" >CNPJ</label>
                            <input type="text" name="pessoa.Cnpj" style="display:none;" class="form-control cnpj-alterar pessoaJuridica" placeholder="CNPJ">
                            <label class="control-label pessoaFisica">RG</label>
                            <input type="text" name="pessoa.Rg" class="form-control rg-alterar pessoaFisica" placeholder="RG">
                            <label class="control-label">Tipo De Pessoa</label>
                            <select name="pessoa.ETipo" class="etipo-alterar-PF">
                                @foreach (var tipo in ViewBag.tipoPessoa)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br>
                            <label class="control-label">Inscrição Municipal</label>
                            <input type="text" name="pessoa.InscricaoMunicipal" class="form-control im-alterar" placeholder="Numero Da Inscrição">
                            <label class="control-label">Inscrição Estadual</label>
                            <input type="text" name="pessoa.InscricaoEstadual" class="form-control ie-alterar" placeholder="Numero Da Inscrição">
                            <label class="control-label pessoaFisica" style="display:block;">Profissão</label>
                            <input type="text" name="pessoa.Profissao" style="display:block;" class="form-control prof-alterar pessoaFisica" placeholder="Informe a profissão exercida">
                            <label class="control-label pessoaFisica" style="display:block;">Nacionalidade</label>
                            <input type="text" name="pessoa.Nacionalidade" style="display:block;"class="form-control nascio-alterar pessoaFisica" placeholder="Informe Pais de origem">
                            <label class="control-label pessoaFisica" style="display:block;">Estado Civil</label>
                            <select name="pessoa.EEstadoCivil" style="display:block;"class="ec-alterar-PF pessoaFisica">
                                @foreach (var estado in ViewBag.estadoCivil)
                                {
                                    <option value="@estado">
                                        @estado
                                    </option>
                                }
                            </select><br>
                           
                            <label class="control-label">Email</label>
                            <input type="email" name="pessoa.EmailPrincipal" class="form-control email-alterar" placeholder="exemplo@exwmplo.com">
                            <label class="control-label pessoaJuridica" style="display:none;">Web Site</label>
                            <input type="text" name="pessoa.WebSite" style="display:none;" class="form-control web-alterar pessoaJuridica" placeholder="Web Site da empresa">
                            <label class="control-label">Observações</label>
                            <input type="text" name="pessoa.Observacao" class="form-control obs-alterar" placeholder="Algumas Observações ">
                            <label class="control-label">Endereço</label>
                            <select name="pessoa.EnderecoID" class="endereco-alterar">
                                @foreach (var endereco in ViewBag.enderecos)
                                {
                                    <option value="@endereco.ID">
                                        @endereco.Rua
                                    </option>
                                }
                            </select><br>
                            <label class="control-label">Telefone</label>
                            <input type="text" name="pessoa.Telefone" class="form-control tel-alterar" placeholder="ddd-0000-0000">
                            <label class="control-label">Celular</label>
                            <input type="text" name="pessoa.Celular" class="form-control cell-alterar" placeholder="ddd-000-000-000">
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="~/content/scripts/Pessoa.js"></script>