
@{
    ViewBag.Title = "Index";
}

<link href="~/content/MeuCss.css" rel="stylesheet" type="text/css">
<div class="row">
    <h2>PAIS</h2>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption" col-md-12>
                    <div class="portlet-body col-md-12">
                        <i class="fa fa-cogs"></i> Lista de paises
                        <div class="table-scrollable">
                            <table class="table table-hover  ">
                                <thead class="tableFont">
                                    <tr>
                                        <th class="col-md-8">Id</th>
                                        <th class="col-md-12 col-md-offset-8">Nome</th>
                                        <th class="col-md-10 col-md-offset-12">
                                            <a></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tableFont">
                                    @foreach (var pais in ViewBag.paises)
                                    {
                                        <tr>
                                            <td class="pais@(pais.Id)">@pais.Id</td>
                                            <td class="pais@(pais.Id)">@pais.Nome</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 offset-md-8">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Pais
                </div>
            </div>
            <div class="portlet-body form">

                <form action="/Paises/Adiciona" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label">Nome</label>
                            <input type="text" name="pais.Nome" class="form-control" placeholder="nome de um pais novo">
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Cadastrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-4 offset-md-8">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Update de Pais
                </div>
            </div>
            <div class="portlet-body form">

                <form action="/Paises/Alterar" method="post">
                    <div class="form-body">
                       
                        <div class="form-group">

                            <select name="id">

                                @foreach (var item in ViewBag.paises)
                                {

                                    <option value="@item.Id">
                                        @item.Nome
                                    </option>

                                }

                            </select>


                        </div>
                        <div class="form-group">
                            <label class="control-label">Nome</label>
                            <input type="text" name="pais.Nome" class="form-control" placeholder="nome de um">
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Atualizar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <h2>ESTADO</h2>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption" col-md-12>
                    <div class="portlet-body col-md-12">
                        <i class="fa fa-cogs"></i> Lista de Estados
                        <div class="table-scrollable">
                            <table class="table table-hover  ">
                                <thead class="tableFont">
                                    <tr>
                                        <th class="col-md-2">Id</th>
                                        <th class="col-md-12 col-md-offset-8">Estado</th>
                                        <th class="col-md-12 col-md-offset-8">País</th>
                                        <th class="col-md-10 col-md-offset-12">
                                            <a></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tableFont">
                                    @foreach (var estado in ViewBag.estados)
                                    {
                                        <tr>
                                            <td class="estado@(estado.Id)">@estado.Id</td>
                                            <td class="estado@(estado.Id)">@estado.Nome</td>
                                            <td class="estado@(estado.Id)">@estado.PaisID</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 offset-md-8">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Estado
                </div>
            </div>
            <div class="portlet-body form">

                <form action="/Estado/Adiciona" method="post">
                    <div class="form-body">

                        <div class="form-body">

                            <div class="form-group">

                                <select name="estado.PaisID">

                                    @foreach (var item in ViewBag.paises)
                                    {

                                        <option value="@item.Id">
                                            @item.Nome
                                        </option>

                                    }

                                </select>


                            </div>
                            <div class="form-group">
                                <label class="control-label">Nome</label>
                                <input type="text" name="estado.Nome" class="form-control" placeholder="nome de um pais novo">
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="submit" class="btn green">Cadastrar</button>
                        </div>
                     </div>
                
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-4 offset-md-8">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Update de Estado
                </div>
            </div>
            <div class="portlet-body form">

                <form action="/Estado/Alterar" method="post">
                    <div class="form-body">

                        <div class="form-group">

                            <select name="id">

                                @foreach (var item in ViewBag.estados)
                                {

                                    <option value="@item.Id">
                                        @item.Nome
                                    </option>

                                }

                            </select>


                        </div>
                        <div class="form-group">
                            <div class="form-group">

                                <select name="estado.Pais.Id">

                                    @foreach (var item in ViewBag.paises)
                                    {

                                        <option value="@item.Id">
                                            @item.Nome
                                        </option>

                                    }

                                </select>

                                <label class="control-label">Nome</label>
                                <input type="text" name="estado.Nome" class="form-control" placeholder="nome de um">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Atualizar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <h2>ESTADO</h2>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption" col-md-12>
                    <div class="portlet-body col-md-12">
                        <i class="fa fa-cogs"></i> Lista de Cidades
                        <div class="table-scrollable">
                            <table class="table table-hover  ">
                                <thead class="tableFont">
                                    <tr>
                                        <th class="col-md-2">Id</th>
                                        <th class="col-md-12 col-md-offset-8">Cidade</th>
                                        <th class="col-md-12 col-md-offset-8">Estado</th>
                                        <th class="col-md-10 col-md-offset-12">
                                            <a></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tableFont">
                                    @foreach (var cidade in ViewBag.cidades)
                                    {
                                        <tr>
                                            <td class="cidade@(cidade.ID)">@cidade.ID</td>
                                            <td class="cidade@(cidade.ID)">@cidade.Nome</td>
                                            <td class="cidade@(cidade.ID)">@cidade.EstadoID</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 offset-md-8">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Cidade
                </div>
            </div>
            <div class="portlet-body form">

                <form action="/Cidade/Adiciona" method="post">
                    <div class="form-body">

                        <div class="form-body">

                            <div class="form-group">

                                <select name="cidade.EstadoID">

                                    @foreach (var item in ViewBag.estados)
                                    {

                                        <option value="@item.Id">
                                            @item.Nome
                                        </option>

                                    }

                                </select>


                            </div>
                            <div class="form-group">
                                <label class="control-label">Nome</label>
                                <input type="text" name="cidade.Nome" class="form-control" placeholder="nome de uma cidade nova">
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="submit" class="btn green">Cadastrar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="col-md-4 offset-md-8">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Update de Cidade
                </div>
            </div>
            <div class="portlet-body form">

                <form action="/Cidade/Alterar" method="post">
                    <div class="form-body">

                        <div class="form-group">

                            <select name="cidade.ID">

                                @foreach (var item in ViewBag.cidades)
                                {

                                    <option value="@item.ID">
                                        @item.Nome
                                    </option>

                                }

                            </select>


                        </div>
                        <div class="form-group">
                            <div class="form-group">

                                <select name="cidade.EstadoID">

                                    <option value=0>
                                        ---Selecione----
                                    </option>
                                    @foreach (var item in ViewBag.estados)
                                    {

                                        <option value="@item.Id">
                                            @item.Nome
                                        </option>

                                    }

                                </select>

                                <label class="control-label">Nome</label>
                                <input type="text" name="cidade.Nome" class="form-control" placeholder="nome de um">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Atualizar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
