@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/content/CSS/ImovelCadastro.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4 offset-md-8" id="forms-updates-PJ">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Imóvel
                </div>
            </div>
            <div class="portlet-body form">

                <form id="form-cadastro-PJ" action="/Imoveis/Adiciona" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <input class="id-secreto" style="display:none;" name="imovel.ID">
                            <input class="AtendimetoId-secreto" style="display:none;" name="imovel.AtendimentoID" value="@ViewBag.atendimento">
                            <label class="control-label">Codigo Interno</label>
                            <input type="text" name="imovel.Codigo" class="form-control cdg-alterar" placeholder="Codigo Interno">
                            <label class="control-label">Descrição Breve</label>
                            <input type="text" name="imovel.DescricaoBreve" class="form-control db-alterar" placeholder="Descricao Breve">
                            <label class="control-label">Descrição Completa</label>
                            <textarea name="imovel.DescricaoCompleta" class="form-control db-alterar" placeholder="Descricao Breve"></textarea>
                            <label class="control-label">Tipo De Negocio</label>
                            <select name="imovel.TipoNegocio" class="negocio-alterar"
                                    id="FinalidadeDeNegocio">
                                @foreach (var tipo in ViewBag.tipoNegocio)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br><br>
                            <label class="control-label"> Tipo de Imovel</label>
                            <select name="imovel.TipoDeImovel" class="tipoImvl-alterar">
                                @foreach (var tipo in ViewBag.tipoDeImovel)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br><br>
                            <label class="control-label"> Finalidade Do Imovel</label>
                            <select name="imovel.Finalidade" class="finalidade-alterar">
                                @foreach (var tipo in ViewBag.finalidade)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br><br>
                            <label class="control-label">Endereço</label>
                            <select name="imovel.EnderecoID" class="endereco-alterar">
                                @foreach (var endereco in ViewBag.enderecos)
                                {
                                    <option value="@endereco.ID">
                                        @endereco.Rua  @endereco.Numero
                                    </option>
                                }
                            </select><br><br>
                            <label class="control-label">Responsavel</label>
                            <select name="imovel.ResponsavelID" class="responsavel-alterar">
                                @foreach (var responsavel in ViewBag.Pessoa)
                                {
                                    <option value="@responsavel.ID">
                                        @responsavel.Nome
                                    </option>
                                }

                            </select><br><br>
                            <label class="control-label">Área Útil</label>
                            <input type="number" name="imovel.MetragemUtil" class="form-control mu-alterar" placeholder="Area Útil">
                            <label class="control-label">Área Total</label>
                            <input type="number" name="imovel.MetragemTotal" class="form-control met-alterar" placeholder="Área Total">
                            <h4>Cadastro de Caracteristica</h4>
                            <div class="form-group">
                                <label class="control-label">Caracteristicas</label><br>
                                <textarea name="imovel.Caracteristicas" style="width:90%; height:100px;"></textarea>
                               
                            </div>

                        </div>
                        <div class="form-group">
                            <div id="venda">
                                <h4>Cadastro de Valores </h4>
                                <label class="control-label venda">Valor de Venda</label>
                                <input type="number" name="imovel.Valor.ValorDeVenda" class="form-control valorVenda-alterar venda" placeholder="Valor do imovel">
                                <div style="display:none;"
                                     class="venda">
                                    <label class="control-label venda">Pode Ser Financiado</label>
                                    <input type="checkbox" name="imovel.Valor.PodeFinanciar" class="podeFinanc-alterar venda" value="true" style="visibility:hidden;">
                                    <label class="control-label venda">Está Escriturado</label>
                                    <input type="checkbox" name="imovel.Valor.EstaEsscriturado" class="escritura-alterar venda" value="true">
                                    <label class="control-label venda">Está Averbado</label>
                                    <input type="checkbox" name="imovel.Valor.EstaAverbado" class="averbado-alterar venda" value="true">
                                </div>
                                <label class="control-label locacao">Valor da Mensalidade</label>
                                <input type="number" name="imovel.Valor.Mensalidade" class="form-control valormensalidade-alterar locacao" placeholder="Valor do imovel">
                                <label class="control-label locacao">Condominio</label>
                                <input type="number" name="imovel.Valor.Condominio" class="condominio-alterar locacao"><br>
                                <label class="control-label locacao">IPTU</label>
                                <input type="number" name="imovel.Valor.IPTU" class="form-control iptu-alterar locacao">
                                <label class="control-label comissao">Comissão</label>
                                <input type="number" name="imovel.Valor.Comissao" class="form-control comissao-alterar">
                                <label class="control-label ">Descricao de Pagamento</label>
                                <textarea type="text" name="imovel.Valor.DescricaoPagamento" class="valor-alterar-p" style="width:90%; height:100px;"></textarea>
                            </div>
                            <h4>Cadastro de Detalhes </h4>
                            <label class="control-label">Descrição de Detalhes</label>
                            <textarea name="imovel.Detalhes" style="width:90%; height:100px;"></textarea>
                        </div>

                    </div>

                    <div class="form-actions right">
                        <button type="submit" class="btn green">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="~/content/scripts/ImovelCaracteristica.js"></script>
<script src="~/content/scripts/ImovelCrm.js"></script>
<script src="~/content/scripts/ImovelDetalhe.js"></script>
<script src="~/content/scripts/ImovelValor.js"></script>