@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/content/CSS/ImovelCadastro.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4 offset-md-8" id="forms-updates-PJ">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Imóvel
                </div>
            </div>
            <div class="portlet-body form">

                <form id="form-cadastro-PJ" action="/Imoveis/Adiciona" method="post"
                      data-tipoImovel="@ViewBag.imovel.TipoDeImovel" data-tipoNegocio="@ViewBag.imovel.TipoNegocio" data-finalidade="@ViewBag.imovel.Finalidade"
                      data-endereco="@ViewBag.imovel.EnderecoID" data-responsavel="@ViewBag.imovel.ResponsavelID" 
                      data-averbado="@ViewBag.valor.EstaAverbado" data-financia="@ViewBag.valor.PodeFinanciar" data-escritura="@ViewBag.valor.EstaEsscriturado">
                    <div class="form-body">
                        <div class="form-group">
                            <input class="id-secreto" style="display:none;" name="imovel.ID" value="@ViewBag.imovel.ID">
                            <label class="control-label">Codigo Interno</label>
                            <input type="text" name="imovel.Codigo" class="form-control cdg-alterar" placeholder="Codigo Interno" value="@ViewBag.imovel.Codigo">
                            <label class="control-label">Descrição Breve</label>
                            <input type="text" name="imovel.DescricaoBreve" class="form-control db-alterar" placeholder="Descricao Breve" value="@ViewBag.imovel.DescricaoBreve">
                            <label class="control-label">Descrição Completa</label>
                            <textarea name="imovel.DescricaoCompleta" class="form-control db-alterar" placeholder="Descricao Breve">@ViewBag.imovel.DescricaoCompleta</textarea>
                            <label class="control-label">Tipo De Negocio</label>
                            <select id="FinalidadeDeNegocio" name="imovel.TipoNegocio" class="negocio-alterar"
                                    value="@ViewBag.imovel.TipoNegocio">
                                @foreach (var tipo in ViewBag.tipoNegocio)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br><br>
                            <label class="control-label"> Tipo de Imovel</label>
                            <select name="imovel.TipoDeImovel" class="tipoImvl-alterar" value="@ViewBag.imovel.TipoDeImovel">
                                @foreach (var tipo in ViewBag.tipoDeImovel)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br><br>
                            <label class="control-label"> Finalidade Do Imovel</label>
                            <select name="imovel.Finalidade" class="finalidade-alterar" value="@ViewBag.imovel.Finalidade">
                                @foreach (var tipo in ViewBag.finalidade)
                                {
                                    <option value="@tipo">
                                        @tipo
                                    </option>
                                }
                            </select><br><br>
                            <label class="control-label">Endereço</label>
                            <select name="imovel.EnderecoID" class="endereco-alterar" value="@ViewBag.imovel.EnderecoID">
                                @foreach (var endereco in ViewBag.enderecos)
                                {
                                    <option value="@endereco.ID">
                                        @endereco.Rua  @endereco.Numero
                                    </option>
                                }
                            </select><br><br>
                            <label class="control-label">Responsavel</label>
                            <select name="imovel.ResponsavelID" class="responsavel-alterar" value="@ViewBag.imovel.ResponsavelID">
                                @foreach (var responsavel in ViewBag.Pessoa)
                                {
                                    <option value="@responsavel.ID">
                                        @responsavel.Nome
                                    </option>
                                }

                            </select><br><br>
                            <label class="control-label">Codigo De Integração</label><br>
                            <input class="id-secreto-cdg" style="display:none;" name="imovel.CdgIntegracao.ID" value="@ViewBag.imovel.CdgIntegracao.ID">
                            <label class="control-label">Origem</label>
                            <input type="text" name="imovel.CdgIntegracao.Origem" class="form-control cdgO-alterar" placeholder="Origem do Codigo" value="@ViewBag.imovel.CdgIntegracao.Origem">
                            <label class="control-label">Codigo</label>
                            <input type="text" name="imovel.CdgIntegracao.Codigo" class="form-control cdg-alterar" placeholder="Codigo" value="@ViewBag.imovel.CdgIntegracao.Codigo">
                            <label class="control-label">Área Útil</label>
                            <input type="number" name="imovel.MetragemUtil" class="form-control mu-alterar" placeholder="Area Útil" value="@ViewBag.imovel.MetragemUtil">
                            <label class="control-label">Área Total</label>
                            <input type="number" name="imovel.MetragemTotal" class="form-control met-alterar" placeholder="Área Total" value="@ViewBag.imovel.MetragemTotal">
                            <ul id="cadastro-imovel">
                                <li>
                                    <a href="#" id="bot-categoria">Caracteristicas</a>
                                    <div id="div-categoria" style="display:none;">

                                        <h4>Cadastro de Caracteristica</h4>
                                        <div class="form-group">
                                            <label class="control-label">Caracteristicas Prncipais</label>
                                            <textarea name="imovel.CaracteristicasPrincipais">@ViewBag.imovel.CaracteristicasPrincipais</textarea>
                                            <label class="control-label">Caracteristicas Gerais</label>
                                            <textarea name="imovel.CaracteristicasGerais">@ViewBag.imovel.CaracteristicasGerais</textarea>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <a href="#" id="bot-valores">Valor</a>
                                    <div id="div-valor" style="display:none;">
                                        <div class="form-group">
                                            <div id="venda">
                                                <h4>Cadastro de Valores </h4>

                                                <label class="control-label venda">Valor de Venda</label>
                                                <input class="id-secreto-valor" style="display:none;" name="imovel.Valor.ID" value="@ViewBag.valor.ID">
                                                <input class="tipoValor" style="display:none;" name="imovel.Valor.Tipo" value="@ViewBag.Valor.Tipo">
                                                <input type="number" name="imovel.Valor.ValorDeVenda" class="form-control valorVenda-alterar venda" placeholder="Valor do imovel" value="@ViewBag.valor.ValorDeVenda">
                                                <div style="display:none;"
                                                     class="venda">
                                                    <label class="control-label venda">Pode Ser Financiado</label>
                                                    <input type="checkbox" name="imovel.Valor.PodeFinanciar"  class="podeFinanc-alterar venda" value="true" style="visibility:hidden;">
                                                    <label class="control-label venda">Está Escriturado</label>
                                                    <input type="checkbox" name="imovel.Valor.EstaEsscriturado" value="true" class="escritura-alterar venda">
                                                    <label class="control-label venda">Está Averbado</label>
                                                    <input type="checkbox" name="imovel.Valor.EstaAverbado" value="true" class="averbado-alterar venda">
                                                </div>
                                                <label class="control-label locacao">Valor da Mensalidade</label>
                                                <input type="number" name="imovel.Valor.Mensalidade" value="@ViewBag.valor.Mensalidade" class="form-control valormensalidade-alterar locacao" placeholder="Valor do imovel">
                                                <label class="control-label locacao">Condominio</label>
                                                <input type="number" name="imovel.Valor.Condominio" value="@ViewBag.valor.Condominio" class="condominio-alterar locacao">
                                                <label class="control-label locacao">IPTU</label>
                                                <input type="number" name="imovel.Valor.IPTU" value="@ViewBag.valor.IPTU" class="form-control iptu-alterar locacao">
                                                <label class="control-label ">Descricao de Pagamento</label>
                                                <textarea type="text" name="imovel.Valor.DescricaoPagamento" class="valor-alterar-p" placeholder="Descrição do pagamento">@ViewBag.valor.DescricaoPagamento</textarea>

                                            </div>



                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" id="bot-detalhe">Detalhes</a>
                                    <div id="div-detalhes" style="display:none;">
                                        <label class="control-label">Descrição dos Detalhes</label>
                                        <textarea name="imovel.Detalhes">@ViewBag.imovel.Detalhes</textarea>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/content/scripts/ImovelValor.js"></script>
<script src="~/content/scripts/ImovelDetalhe.js"></script>
<script src="~/content/scripts/ImovelCaracteristica.js"></script>
<script src="~/content/scripts/ImovelAlterar.js"></script>