@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/content/MeuCss.css" rel="stylesheet" type="text/css">
<div class="row">
    <h2>Endereços</h2>
    <div class="col-md-8">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption" col-md-12>
                    <i class="fa fa-cogs"></i> Lista de Endereços Cadastrados
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-default btn-sm" id="botao-add-endereco">
                        <i class="fa fa-plus"></i> Add
                    </a>
                </div>
            </div>
            <div class="portlet-body col-md-12">

                <div class="table-scrollable">
                    <table id="gridEndereco" class="table table-hover">
                        <thead class="">
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-1">Id</th>
                                <th class="col-md-3 ">Rua</th>
                                <th class="col-md-1 ">Numero</th>
                                <th class="col-md-1 ">Bairro</th>
                                <th class="col-md-1 ">Cidade</th>
                                <th class="col-md-2">Estado</th>
                                <th class="col-md-2">Pais</th>
                                <th class="col-md-2">CEP</th>
                                <th class="col-md-2 offset-md-2">Complemento</th>
                                <th class="col-md-1">
                                    <a></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var endereco in ViewBag.endereco)
                            {
                                <tr data-id="@endereco.ID" data-cep="@endereco.CEP" data-rua="@endereco.Rua"
                                    data-num="@endereco.Numero" data-bairro="@endereco.Bairro" data-cidade="@endereco.CidadeID"
                                    data-estado="@endereco.EstadoID" data-pais="@endereco.PaisID" data-complemento="@endereco.Complemento">
                                    <td class="endereco@(endereco.ID)">
                                        <a href="@Url.Action("Remover","Endereco", new { id = endereco.ID })" class="botao-remove-cidade"><i class="fa fa-minus-circle font-red"></i></a>
                                    </td>
                                    <td class="endereco@(endereco.ID)">@endereco.ID</td>
                                    <td class="endereco@(endereco.ID)">@endereco.Rua</td>
                                    <td class="endereco@(endereco.ID)">@endereco.Numero</td>
                                    <td class="endereco@(endereco.ID)">@endereco.Bairro</td>
                                    <td class="endereco@(endereco.ID)">@endereco.Cidade</td>
                                    <td class="endereco@(endereco.ID)">@endereco.Estado</td>
                                    <td class="endereco@(endereco.ID)">@endereco.Pais</td>
                                    <td class="endereco@(endereco.ID)">@endereco.CEP</td>
                                    <td class="endereco@(endereco.ID)">@endereco.Complemento</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 " id="alter-localidade">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Pais
                </div>
            </div>
            <div class="portlet-body form">

                <form id="form-cadastro-endereco" action="/Endereco/Insert" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <input class="id-secreto" style="display:none;" name="endereco.ID">
                            <label class="control-label">Rua</label>
                            <input type="text" name="endereco.Rua" class="form-control rua-alterar" placeholder="Nome da Rua">
                            <label class="control-label">Bairro</label>
                            <input type="text" name="endereco.Bairro" class="form-control bairro-alterar" placeholder="Nome do Bairro">
                            <label class="control-label">Pais</label>
                            <select id="endereco-pais-select" name="endereco.PaisID">

                                @foreach (var item in ViewBag.endereco)
                                {

                                    <option value="@item.PaisID">
                                        @item.Pais.Nome
                                    </option>

                                }

                            </select>
                            <label class="control-label">Estado</label>
                            <select id="endereco-estado-select" name="endereco.EstadoID">

                                @foreach (var item in ViewBag.endereco)
                                {

                                    <option value="@item.EstadoID">
                                        @item.Estado.Nome
                                    </option>

                                }

                            </select>
                            <label class="control-label">Cidade</label>
                            <select id="endereco-cidade-select" name="endereco.CidadeID">

                                @foreach (var item in ViewBag.endereco)
                                {

                                    <option value="@item.CidadeID">
                                        @item.Cidade.Nome
                                    </option>

                                }

                            </select><br>
                            <label class="control-label">Numero</label>
                            <input type="text" name="endereco.Numero" class="form-control numero-alterar" placeholder="Nº">
                            <label class="control-label">CEP</label>
                            <input type="text" name="endereco.CEP" class="form-control cep-alterar" placeholder="EX 00000-000">
                            <label class="control-label">Complemento</label>
                            <input type="text" name="endereco.Complemento" class="form-control complemento-alterar" placeholder="Complemento">
                        </div>
                    </div>
                    <div class="form-actions right">
                        <a href="@Url.Action("Index","Localidade")" class="botao-move-localidade"><i class="fa fa-edit font-red"></i>Cadastrar Localidade</a>
                        <button type="submit" class="btn green">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



