
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/content/MeuCss.css" rel="stylesheet" type="text/css">
<div class="row">
    <h2>PAIS</h2>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption" col-md-12>
                    <i class="fa fa-cogs"></i> Lista de paises
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-default btn-sm" id="botao-add-pais">
                        <i class="fa fa-plus"></i> Add
                    </a>
                </div>
            </div>
            <div class="portlet-body col-md-12">

                <div class="table-scrollable">
                    <table id="gridPaises" class="table table-hover">
                        <thead class="">
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-8">Id</th>
                                <th class="col-md-12 col-md-offset-8">Nome</th>
                                <th class="col-md-10 col-md-offset-12">
                                    <a></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var pais in ViewBag.paises)
                            {
                            <tr data-id="@pais.Id" data-nome="@pais.Nome">
                                <td class="cidade@(pais.Id)">
                                    <a href="@Url.Action("Remover","Paises", new { id = pais.Id })" class="botao-remove-cidade"><i class="fa fa-minus-circle font-red"></i></a>
                                </td>
                                <td class="pais@(pais.Id)">@pais.Id</td>
                                <td class="pais@(pais.Id)">@pais.Nome</td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 offset-md-8" id="forms-updates">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Pais
                </div>
            </div>
            <div class="portlet-body form">

                <form id="form-cadastro-pais" action="/Paises/Adiciona" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <input class="id-secreto" style="display:none;" name="pais.Id">
                            <label class="control-label">Nome</label>
                            <input type="text" name="pais.Nome" class="form-control nome-alterar" placeholder="nome de um pais novo">
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <h2>ESTADO</h2>
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption" col-md-12>
                    <i class="fa fa-cogs"></i> Lista de Estados
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-default btn-sm" id="botao-add-estado">
                        <i class="fa fa-plus"></i> Add
                    </a>
                </div>

            </div>
            <div class="portlet-body col-md-12">
                   
                    <div class="table-scrollable">
                        <table id="gridEstados" class="table table-hover  ">
                            <thead class="">
                                <tr>
                                    <th class="col-md-1">#</th>
                                    <th class="col-md-2">Id</th>
                                    <th class="col-md-12 col-md-offset-8">Estado</th>
                                    <th class="col-md-12 col-md-offset-5">País</th>
                                    <th class="col-md-10 col-md-offset-12">
                                        <a></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="">
                                @foreach (var estado in ViewBag.estados)
                                {
                                    <tr data-id="@estado.Id" data-nome="@estado.Nome" data-pais="@estado.PaisID" >
                                        <td class="cidade@(estado.Id)">
                                            <a href="@Url.Action("Remover","Estado", new { id = estado.Id })" class="botao-remove-cidade"><i class="fa fa-minus-circle font-red"></i></a>
                                        </td>
                                        <td  class="estado@(estado.Id)">@estado.Id</td>
                                        <td class="estado@(estado.Id)">@estado.Nome</td>
                                        <td class="estado@(estado.Id)">@estado.Pais</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>

    <div class="col-md-4 offset-md-8">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Cadastro de Estado
                </div>
            </div>
            <div class="portlet-body form">

                <form id="form-cadastro-estados" action="/Estado/Adiciona" method="post">
                    <div class="form-body">

                        <div class="form-body">

                            <div class="form-group">

                                <select id="pais-select" name="estado.PaisID">

                                    @foreach (var item in ViewBag.paises)
                                    {

                                        <option value="@item.Id">
                                            @item.Nome
                                        </option>

                                    }

                                </select>


                            </div>
                            <div class="form-group">
                                <input id="id-secreto2" style="display:none;" name="estado.Id">
                                <label class="control-label">Nome</label>
                                <input type="text" id="nomeE-alterar" name="estado.Nome" class="form-control" placeholder="nome de um pais novo">
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="submit" class="btn green">Cadastrar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
         <h2>CIDADE</h2>
        <div class="col-md-8">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption" col-md-12>
                        <i class="fa fa-cogs"></i> Lista de Cidades

                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm" id="botao-add-cidade">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>
                </div>
                <div class="portlet-body col-md-12">

                    <div class="table-scrollable">
                        <table id="gridCidade" class="table table-hover  ">
                            <thead class="tableFont">
                                <tr>
                                    <th class="col-md-1">#</th>
                                    <th class="col-md-2">Id</th>
                                    <th class="col-md-12 col-md-offset-8">Cidade</th>
                                    <th class="col-md-12 col-md-offset-8">Estado</th>
                                    <th class="col-md-10 col-md-offset-12">
                                        <a></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tableFont">
                                @foreach (var cidade in ViewBag.cidades)
                                {
                                    <tr data-id="@cidade.ID" data-nome="@cidade.Nome" data-estado="@cidade.EstadoID">
                                        <td class="cidade@(cidade.ID)">
                                            <a href="@Url.Action("Remover","Cidade", new { id = cidade.ID })" class="botao-remove-cidade"><i class="fa fa-minus-circle font-red"></i></a>
                                        </td>
                                        <td class="cidade@(cidade.ID)">@cidade.ID</td>
                                        <td class="cidade@(cidade.ID)">@cidade.Nome</td>
                                        <td class="cidade@(cidade.ID)">@cidade.Estado</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-8">
            <div class="portlet box purple">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Cadastro de Cidade
                    </div>
                </div>
                <div class="portlet-body form">

                    <form id="form-cadastro-cidades" action="/Cidade/Adiciona" method="post">
                        <div class="form-body">

                            <div class="form-body">

                                <div class="form-group">

                                    <select id="estado-select" name="cidade.EstadoID">

                                        @foreach (var item in ViewBag.estados)
                                        {

                                            <option value="@item.Id">
                                                @item.Nome
                                            </option>

                                        }   

                                    </select>


                                </div>
                                <div class="form-group">
                                    <input id="id-secreto3" style="display:none;" name="cidade.ID">
                                    <label class="control-label">Nome</label>
                                    <input id="nomec-alterar" type="text" name="cidade.Nome" class="form-control" placeholder="nome de uma cidade nova">
                                </div>
                            </div>
                            <div class="form-actions right">
                                <button type="submit" class="btn blue">Salvar</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/content/scripts/CEP.js" type="text/javascript"></script>